body{
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 40px;
}

main{
    padding-top: 45px;
}
h1{
    padding-bottom: 35px;
}
.nav-link{
    background-color: rgba(97, 100, 102, 0.178);
    text-decoration-color: black;
}
#active{
    background-color: rgb(26, 77, 218);
}
#ImagenUno{
    justify-content: center;
}
.carousel-inner { text-align: center; }
.carrousel-item img{ display: inline-block;}
.carousel-caption{
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
    }

h1{
    color: antiquewhite;
}  
html {
  min-height: 100%;
  position: relative;
}


#tarjeta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
